# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Logs
*.log